.link-tool {
  position: relative;
}

.link-tool__content {
  display: block;
  padding: 25px;
  border-radius: 2px;
  box-shadow: 0 0 0 2px #fff;
  color: initial !important;
  text-decoration: none !important;
}

.link-tool__content--rendered {
  background: #fff;
  border: 1px solid rgba(201, 201, 204, 0.48);
  box-shadow: 0 1px 3px rgba(0,0,0, .1);
  border-radius: 6px;
  will-change: filter;
  animation: link-in 450ms 1 cubic-bezier(0.215, 0.61, 0.355, 1);
}

.link-tool__content--rendered:hover {
  box-shadow: 0 0 3px rgba(0,0,0, .16);
}

.link-tool__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 0 0 30px;
  width: 65px;
  height: 65px;
  border-radius: 3px;
  float: right;
}

.link-tool__title {
  font-size: 17px;
  font-weight: 600;
  line-height: 1.5em;
  margin: 0 0 10px 0;
}

.link-tool__description {
  margin: 0 0 20px 0;
  font-size: 15px;
  line-height: 1.55em;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.link-tool__anchor {
  display: block;
  font-size: 15px;
  line-height: 1em;
  color: #888 !important;
  border: 0 !important;
  padding: 0 !important;
}
