.ce-block:first-of-type {
  margin-top: 0;
}

.ce-block__content {
  position: relative;
  max-width: 650px;
  margin: 0 auto;
  -webkit-transition: background-color .15s ease;
  transition: background-color .15s ease;
}

.cdx-block {
  padding: .4em 0;
}
