.image-tool__image {
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 10px;
}

.image-tool--withBorder .image-tool__image {
  border: 1px solid #e8e8eb;
}

.image-tool--withBackground .image-tool__image {
  padding: 15px;
  background: #cdd1e0;
}

.image-tool__image-picture {
  max-width: 100%;
  vertical-align: bottom;
  display: block;
}

.image-tool--withBackground .image-tool__image-picture {
  max-width: 60%;
  margin: 0 auto;
}

.image-tool--stretched {
  max-width: 100%;
}

.image-tool--stretched .image-tool__image-picture {
  width: 100%;
}

.image-tool__caption {
  border: 1px solid rgba(201,201,204,.48);
  -webkit-box-shadow: inset 0 1px 2px 0 rgba(35,44,72,.06);
  box-shadow: inset 0 1px 2px 0 rgba(35,44,72,.06);
  border-radius: 3px;
  padding: 10px 12px;
  outline: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
