{%
  set classes = [
    'ce-block__content',
    'image-tool',
    'image-tool--filled',
    data.withBorder ? 'image-tool--withBorder',
    data.withBackground ? 'image-tool--withBackground',
    data.stretched ? 'image-tool--stretched',
    data.center ? 'image-tool--center',
  ]
%}

<div {{ attributes.addClass(classes) }}>
  <div class="image-tool__image">
    {{ data.image }}
  </div>
  {% if data.caption %}<div class="cdx-input image-tool__caption">{{ data.caption }}</div>{% endif %}
</div>
