<div class="cdx-block image-tool image-tool--filled">
  <div class="image-tool__image">
    <img class="image-tool__image-picture" src="{{ data.file.url }}">
  </div>
  {% if data.caption %}<div class="cdx-input image-tool__caption">{{ data.caption }}</div>{% endif %}
</div>
