<a class="link-tool__content link-tool__content--rendered" target="_blank" rel="nofollow noindex noreferrer"
   href="https://batkor.ru/">
  <div class="link-tool__image" ></div>
  <div class="link-tool__title">Заметки веб разработчика</div>
  <p class="link-tool__description">Заметки связанные с веб разработкой, а так же CMS Drupal, PHP, JS.</p><span
    class="link-tool__anchor">batkor.ru</span>
</a>
