{% for block in data %}
  <div class="ce-block">
    <div class="ce-block__content">
      {% if block.type == 'paragraph' %}
        <p class="ce-paragraph cdx-block">{{ block.data.text }}</p>
      {% elseif block.type == 'list' %}
        <ul class="cdx-block cdx-list cdx-list--{{ block.data.style }}">
          {% for item in block.data.items %}<li class="cdx-list__item">{{ item }}</li>{% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
{% endfor %}
